body  {
    /* border: 2px black solid; */
    /* box-sizing: border-box; */
    background-color: rgb(34, 167, 89);
  }
  

#container{ 

    padding: 100px;
}

.calBody{ 

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap ;
    align-content: space-evenly;
    justify-content: center;
    margin: auto;

    width: 440px;
    height: 500px;
    padding: 15px;
    border-radius: 10px;

    background-color: hsl(41, 87%, 54%);
    box-shadow: 0 9px rgb(201, 92, 3);
}

.display{

    box-sizing: border-box;
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 400px;
    height: 150px;
    background-color: hsl(41, 87%, 54%);
    
}

.display .historyTwo,.historyOne{

    background-color: beige;
    /* flex: 1 2 auto; */
    font-weight: bold;
    font-family: sans-serif;
    text-align: right;
    align-content: end;
    padding-right: 10px;  
    color: dimgray;
}

.display .historyTwo{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 4px #1a8f29;

    
}


.display .historyOne{

    font-size: 20px;

}
.display .calculation{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: beige;
    margin-bottom: 10px;
    
    box-sizing: border-box;
    font-weight: bold;
    font-family: sans-serif;
    text-align: right;
    font-size: 25px;
    padding: 10px;
}

.display div {

    flex: 1;
}

.batteryRow{
    
    display: flex;
    gap: 5px;
}

.battery{
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
}

.clear , .backButton{

    flex-basis: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 0 4px rgb(26, 143, 41);
    background-color: hsl(7, 77%, 49%);
    color: aliceblue;
    cursor: pointer;

}

.buttons{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    cursor: pointer;
   
}

.numButtons{
    /* height: 320px; */
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    
}

.numButtons button{
    
    width: 70px ;
    height: 70px;
    flex: 1 1 auto;
    border-radius: 10%;
    border: none;
    
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 0 4px rgb(26, 143, 41);
    background-color: hsl(27, 87%, 49%);
    color: aliceblue;
    cursor: pointer;
    
    
}

.numButtons .zero{
    
    width: 140px;
    flex-grow: 2;
}

.symbols{
    
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    
}
.symbols button{
    
    background-color: hsl(52, 88%, 57%) ;
    width: 70px ;
    height: 70px;
    flex: 1 1 auto;
    border-radius: 10%;
    border: none;
    box-shadow: 0 4px rgb(26, 143, 41);
    font-size: 25px;
    color: aliceblue;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    
}

.symbols .equals {
    width: 140px;
    height: 144px;
    border-radius: 10%;
    transform: translateY(2px);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px rgb(13, 65, 20);
    transform: translateY(2px);
}

button:hover {
    transform: scale(1.05);
    color :rgb(248, 20, 20);
  }